.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  padding: $btn-padding-y $btn-padding-x;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  word-wrap: normal;
  border-radius: $btn-radius;

  &:hover,
  &:focus,
  &:active {
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    box-shadow: $btn-focus-box-shadow;
    font-weight: bold;
  }

  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
  }
  &.btn-default {
    background-color: $btn-bg-color;
    color: $btn-color;
  }

  .btn-icon {
    i {
      font-size: 1.5rem;
    }
  }
}
