body.dark-theme {
  @each $name, $value in $theme-dark {
    --#{$name}: #{$value};
  }
}

body.light-theme {
  @each $name, $value in $theme-light {
    --#{$name}: #{$value};
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $font-family-base;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left;
  background-color: $body-bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

%fontWeight {
  font-weight: $font-weight-normal;
}

h1,
.h1 {
  line-height: $line-height-48;
  font-size: $h1-font-size;
}
h2,
.h2 {
  line-height: $line-height-38;
  font-size: $h2-font-size;
}
h3,
.h3 {
  line-height: $line-height-30;
  font-size: $h3-font-size;
  @extend %fontWeight;
}
h4,
.h4 {
  line-height: $line-height-24;
  font-size: $h4-font-size;
  @extend %fontWeight;
}
h5,
.h5 {
  line-height: $line-height-base;
  font-size: $h5-font-size;
  @extend %fontWeight;
}
h6,
.h6 {
  font-size: $h6-font-size;
}

p {
  margin-top: 0;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}
