body.dark-theme {
  @each $name, $value in $theme-ddark {
    --#{$name}: #{$value};
  }
}

body.light-theme {
  @each $name, $value in $theme-light {
    --#{$name}: #{$value};
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $font-family-base;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left;
  background-color: $body-bg;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}