//Margin and Padding
@each $name, $value in $spacing {
  .mb-#{$name},
  .my-#{$name} {
    margin-bottom: #{$value} !important;
  }
  .mt-#{$name},
  .my-#{$name} {
    margin-top: #{$value} !important;
  }
  .ml-#{$name},
  .mx-#{$name} {
    margin-left: #{$value} !important;
  }
  .mr-#{$name},
  .mx-#{$name} {
    margin-right: #{$value} !important;
  }

  .pb-#{$name},
  .py-#{$name} {
    padding-bottom: #{$value} !important;
  }
  .pt-#{$name},
  .py-#{$name} {
    padding-top: #{$value} !important;
  }
  .pl-#{$name},
  .px-#{$name} {
    padding-left: #{$value} !important;
  }
  .pr-#{$name},
  .px-#{$name} {
    padding-right: #{$value} !important;
  }
}
