<div class="card">
  <form class="card-body">
    <div class="card-title d-flex justify-content-beetwen align-items-center">
      <h3 class="mb-0">Search Location</h3>
      <div>
        <button class="btn btn-icon">
          <i class="ri-sun-line"></i>
        </button>
        <button class="btn btn-icon">
          <i class="ri-moon-line"></i>
        </button>
      </div>
    </div>
    <fieldset>
      <input type="search" id="seach_inpunt" placeholder=" " />
      <label for="seach_inpunt">Find Location</label>
    </fieldset>

    <button class="btn btn-default w-100" type="submit">Search</button>
  </form>
</div>
