<div class="card bg-color-2-opacity border-none">
  <form class="card-body">
    <div class="card-title d-flex justify-content-beetwen align-items-center">
      <h3 class="mb-0">Search Location</h3>
      <div>
        <label for="theme" class="btn btn-icon">
          <i [class]="(iconTheme$ | async).sun" class="mr-2"></i>
          <i [class]="(iconTheme$ | async).moon"></i>
          <input
            type="checkbox"
            hidden
            name="theme"
            id="theme"
            (change)="changeTheme()"
          />
        </label>
      </div>
    </div>
    <fieldset>
      <input type="search" id="seach_inpunt" placeholder=" " />
      <label for="seach_inpunt">Find Location</label>
    </fieldset>

    <button class="btn btn-default w-100 mb-3" type="submit">Search</button>
  </form>
</div>
