<div class="accordion" [ngClass]="{'show': show}">
  <div class="accordion-title" (click)="show = !show">
    <h4>HOURLY</h4>
		<button class="btn btn-icon">
			<i class="ri-arrow-down-s-line"></i>
		</button>
  </div>
  <div class="accordion-body list-card">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h2>23°</h2>
        </div>
        <ul class="list-group text-color-5">
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Cloud Cover</p>
            <p class="mb-0">95%</p>
          </li>
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Wind</p>
            <p class="mb-0">SSW 6 km/h</p>
          </li>
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Wind Gusts</p>
            <p class="mb-0">17 km/h</p>
          </li>
        </ul>
        <div class="text-right mt-4">
          <h4 class="mb-1">10 PM</h4>
          <h4 class="mb-0">12/18M</h4>
        </div>
      </div>
    </div>
		<div class="card">
      <div class="card-body">
        <div class="card-title">
          <h2>23°</h2>
        </div>
        <ul class="list-group text-color-5">
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Cloud Cover</p>
            <p class="mb-0">95%</p>
          </li>
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Wind</p>
            <p class="mb-0">SSW 6 km/h</p>
          </li>
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Wind Gusts</p>
            <p class="mb-0">17 km/h</p>
          </li>
        </ul>
        <div class="text-right mt-4">
          <h4 class="mb-1">10 PM</h4>
          <h4 class="mb-0">12/18M</h4>
        </div>
      </div>
    </div>
		<div class="card">
      <div class="card-body">
        <div class="card-title">
          <h2>23°</h2>
        </div>
        <ul class="list-group text-color-5">
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Cloud Cover</p>
            <p class="mb-0">95%</p>
          </li>
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Wind</p>
            <p class="mb-0">SSW 6 km/h</p>
          </li>
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Wind Gusts</p>
            <p class="mb-0">17 km/h</p>
          </li>
        </ul>
        <div class="text-right mt-4">
          <h4 class="mb-1">10 PM</h4>
          <h4 class="mb-0">12/18M</h4>
        </div>
      </div>
    </div>
		<div class="card">
      <div class="card-body">
        <div class="card-title">
          <h2>23°</h2>
        </div>
        <ul class="list-group text-color-5">
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Cloud Cover</p>
            <p class="mb-0">95%</p>
          </li>
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Wind</p>
            <p class="mb-0">SSW 6 km/h</p>
          </li>
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Wind Gusts</p>
            <p class="mb-0">17 km/h</p>
          </li>
        </ul>
        <div class="text-right mt-4">
          <h4 class="mb-1">10 PM</h4>
          <h4 class="mb-0">12/18M</h4>
        </div>
      </div>
    </div>
		<div class="card">
      <div class="card-body">
        <div class="card-title">
          <h2>23°</h2>
        </div>
        <ul class="list-group text-color-5">
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Cloud Cover</p>
            <p class="mb-0">95%</p>
          </li>
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Wind</p>
            <p class="mb-0">SSW 6 km/h</p>
          </li>
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Wind Gusts</p>
            <p class="mb-0">17 km/h</p>
          </li>
        </ul>
        <div class="text-right mt-4">
          <h4 class="mb-1">10 PM</h4>
          <h4 class="mb-0">12/18M</h4>
        </div>
      </div>
    </div>
		<div class="card">
      <div class="card-body">
        <div class="card-title">
          <h2>23°</h2>
        </div>
        <ul class="list-group text-color-5">
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Cloud Cover</p>
            <p class="mb-0">95%</p>
          </li>
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Wind</p>
            <p class="mb-0">SSW 6 km/h</p>
          </li>
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Wind Gusts</p>
            <p class="mb-0">17 km/h</p>
          </li>
        </ul>
        <div class="text-right mt-4">
          <h4 class="mb-1">10 PM</h4>
          <h4 class="mb-0">12/18M</h4>
        </div>
      </div>
    </div>
		<div class="card">
      <div class="card-body">
        <div class="card-title">
          <h2>23°</h2>
        </div>
        <ul class="list-group text-color-5">
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Cloud Cover</p>
            <p class="mb-0">95%</p>
          </li>
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Wind</p>
            <p class="mb-0">SSW 6 km/h</p>
          </li>
          <li class="list-item list-item-inline border-none">
            <p class="mb-0">Wind Gusts</p>
            <p class="mb-0">17 km/h</p>
          </li>
        </ul>
        <div class="text-right mt-4">
          <h4 class="mb-1">10 PM</h4>
          <h4 class="mb-0">12/18M</h4>
        </div>
      </div>
    </div>
  </div>
</div>
